html {
  font-family:
    "Noto Sans CJK JP",
    "Noto Sans JP",
    "Noto Sans",
    "Source Han Sans JP",
    "Noto Sans Japanese",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro",
    "xYuGothic",
    Meiryo,
    sans-serif;
  text-rendering: optimizeLegibility;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

body {
  height: 100%;
  margin: 0;
}
